*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: "roboto";
    /* font-family: 'Gilroy-Regular'; */
}
body{
    background-color: #F8F7F4;
}
#page1{
    height: fit-content;
    width: 100%;
 
}
#nav{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    /* background-color: aqua; */
}
#nav-part1{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "roboto";
    font-size: 13px;
    font-weight: 100;
}
#nav-part2{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#nav-part2 button{
    padding: 15px 22px;
    border-radius: 50px;
    border: none;
    font-family: roboto;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: black;
    transition: all 0.2s linear;
    cursor:pointer;
}
#nav-part2 button:nth-child(1){
    background-color: transparent;
    margin-right: 10px;
    color: black;
}
#nav-part2 button:nth-child(1):hover{
    color: rgb(91, 90, 90);
}
#nav-part2 button:nth-child(2):hover{
    background-color:rgb(81, 81, 81);
}
#nav img{
    height: 65%;
    /* background-color: antiquewhite; */
}
#content{
    padding: 90px 0 30px 0;
/* background-color: greenyellow; */
}
#content h3{
    background-color: #FFB1D8;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 50px;
    font-family: "Source serif 4";
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.8px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#content h1{
    align-items: center;
    margin-top: 40px;
    font-family: "Source serif 4";
 text-align: center;
 font-size: 71px;
 line-height: 80px;
 font-weight: 100;
}
#content h4{
    align-items: center;
    margin-top: 30px;
 text-align: center;
 font-size: 1.4vw;
 font-weight: 400;
}
#content button{
    padding: 20px 25px;
    border-radius: 50px;
    margin: 30px 0 60px 0;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s linear;
}
#content button:hover{
    background-color:rgb(81, 81, 81);
    cursor:pointer;
}
#move{
    height: 350px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#bottom{
    /* background-color: red; */
   height: 100%;
    padding: 5px 0;
    white-space: nowrap;
    animation: move;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    display: inline-block;
}
#bottom::-webkit-scrollbar{
    display: none;
}
.elem{
    height: 100%;
    width: 270px;
    background-color: royalblue;
    display: inline-block;
    margin-right: 30px;
    border-radius: 30px;
    overflow: hidden;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
.elem video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
@keyframes move{
    from{
    transform: translateX(0%);
    }
    to{
        transform: translateX(calc(-100% - 4px));
    }
}


#page2{
    /* background-color: #FFB1D8; */
    height: fit-content;
    width: 100%;
    padding: 50px;
}

#page2 h1{
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
}
.box{
height: 230px;
width: 300px;
border-radius: 10px;
overflow: hidden;
display: inline-block;
position: relative;
margin: 13px;
transition: all 0.2s linear;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bottom-text{
    height: 60%;
    width: 100%;
    background: linear-gradient(transparent,rgba(2, 2, 2, 0.639));
    position: absolute;
    bottom: 0;
    padding: 70px 0 0 20px;
    opacity: 0;
    transition: all 0.2s linear;
}
.bottom-text h3{
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.box:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}
.box:hover .bottom-text{
    opacity: 1;
}
#page2 button{
    padding: 20px 25px;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 14px;
    font-weight: 600;
    /* color: white; */
    background-color: transparent;
    border: 1.5px solid black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s linear;
    cursor: pointer;
}
#page2 button:hover{
    color: rgb(87, 87, 87);
    border: 1.5px solid rgb(87, 87, 87);
}
#page3{
    /* background-color: aqua; */
    height: fit-content;
}
#context{
    height:80vh ;
    background-color: #FFDA79;
    padding: 1px;
    text-align: center;
}
#context button{
    padding: 20px 25px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    border:none;
    transition: all 0.2s linear;
    cursor: pointer;
}
#context #a{
    background-color: black;
    color: white;
}
#context #a:hover{
    background-color:rgb(81, 81, 81);
}
#context #b{
    color: black;
    background-color: white;
}
#context #b:hover{
    color:rgb(113, 113, 113);
}
#context h1{
    align-items: center;
    margin-top: 100px;
    font-family: "Source serif 4";
 text-align: center;
 font-size: 62px;
 line-height: 70px;
 font-weight: 100;
}
#context h3{
    align-items: center;
    margin-top: 30px;
 text-align: center;
 font-size: 1.4vw;
 line-height: 2.5vw;
 font-weight: 400;
}
#context button{
    margin: 40px 7px;
}
#context h2{
    align-items: center;
    margin-top: 15px;
 text-align: center;
 font-size: 1.4vw;
 line-height: 2.5vw;
 font-weight: 400;
}
#context h2 a{
    color: black;
    border-bottom: 1px solid black;
}

#slider{
    height: 300px;
    padding: 45px 0;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.s{
    height: 100%;
    /* background-color: #2cea45; */
    white-space: nowrap;
    margin-top: 5px;
    display: inline-block;
    animation: movement;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.element{
    height: 100%;
    width: 230px;
    /* background-color: royalblue; */
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    
}
.element img{
    height: 70%;
    width: 100%;
    /* margin: 1px 1px ; */
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}
@keyframes movement{
    from{
        transform: translateX(0%);
        }
        to{
            transform: translateX(calc(-100% - 4px));
        }
    }
#slider::-webkit-scrollbar{
        display: none;
    }
.element h3{
    padding: 20px 10px;
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 400;
}
.element:hover img{
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#footer{
    padding: 0 110px;
    height: 220px;
}
#fpart-1{
    height: 50%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    height: 60px;
    width: 110px;
}
#logo img{
height: 100%;
width: 100%;
/* background-color: antiquewhite; */
}
#text{
    display: flex;
    gap:47px;
    align-items: center;
    justify-content: space-between;
    /* background-color: #FFDA79; */
}
#text h4{
    font-size: 15px;
    font-weight: 500;
}
#social{
    /* background-color: #FFB1D8; */
    /* height: 70%; */
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#social i{
    cursor: pointer;
    transform: scale(1.3);
}
#fpart-2{
    /* background-color: red; */
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#one{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between; 
}
#one h4{
    font-size: 14px;
    font-weight: 300;
}

#two{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between; 
}
#two h4{
    font-size: 14px;
    font-weight: 300;
}
